<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="冲水阀水力特性测试机.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <冲水阀水力特性测试机.Properties.Settings>
            <setting name="水泵压力" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="保持时间" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="m压力" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m冲击力" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m流量" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m温度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="qmin" serializeAs="String">
                <value>6</value>
            </setting>
        </冲水阀水力特性测试机.Properties.Settings>
    </userSettings>
</configuration>